html,
body {
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

.bio-text-container {
  background-color: black;
  color: white;
  padding: 2rem;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* Divide el contenedor en 12 columnas */
  grid-gap: 10px;
  /* Espacio entre los elementos */
  align-items: left;
  /* Centra verticalmente los elementos */
}

.bio-title {
  grid-column: span 3;
}

.spacer {
  grid-column: span 4;
}

.bio-content {
  grid-column: span 5;
}

.bio-images {
  padding: 3em;
  background-color: black;
}

.bio-images img {
  width: 100%;
  margin-bottom: 10px;
}

.exhib-container {
  position: relative;
  padding: 4rem;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.exhib-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  /* Inicialmente transparente */
  transition: background-color 0.5s ease;
  z-index: -1;

}

.exhib-container:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
  /* Oscurece al hacer hover */
}

.exhib-text-container {
  z-index: 2;
  /* Asegura que el texto esté por encima del efecto de oscurecimiento */
  position: relative;
  /* Asegura que el z-index funcione correctamente */
}

.exhib-title {
  margin-bottom: 2em;
  font-size: larger;
}

.exhib-title,
.exhib-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  /* Inicialmente oculto */
  transition: opacity 0.5s ease;

}

.exhib-container:hover .exhib-title,
.exhib-container:hover .exhib-data {
  opacity: 1;
  /* Visible al hacer hover */
  color: #ffffff;
}

.exhib-authors,
.exhib-dates,
.exhib-address {
  margin-top: 1em;
  position: relative;
  display: inline-block;
}

.exhib-authors::before,
.exhib-dates::before,
.exhib-address::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px solid rgb(199, 187, 187);
  transform: translateY(-50%);
  opacity: 0;
  /* Inicialmente oculto */
  transition: opacity 0.5s ease;
}

.exhib-container:hover .exhib-authors::before,
.exhib-container:hover .exhib-dates::before,
.exhib-container:hover .exhib-address::before {
  opacity: 1;
  /* Visible al hacer hover */
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: black;
  height: 10em;
}

@media (max-width: 800px) {
  .bio-text-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:1300px) {
  .exhib-data {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1014px) {
  .exhib-container::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .exhib-title, 
  .exhib-data,
  .exhib-authors::before,
  .exhib-dates::before,
  .exhib-address::before {
    opacity: 1; 
    color: #ffffff;
  }
}